In [6]:
l=[2,7,2,8,9,2,9]
l1=list(set(l))
l2=sorted(l1)
print(l2[len(l2)-3])

7

In [12]:
s = " a good   example "
s=s.strip()
l=s.split()
l1=l[::-1]
s=" ".join(l1)
print(s)

example good a

In [2]:
strs = ["dog","racecar","car"]
l1=[]
def sub_str(l):
    for ch in l:
        l1.extend([ch[i:j] for i in range(len(ch)) for j in range(i+1,len(ch)+1)])
        
    return l1

l2=sub_str(strs)
l3={i:l2.count(i) for i in l2 if l2.count(i) == len(strs)}
print(l3)
print(max(l3.keys(),key=len))

{'r': 3, 'a': 3, 'c': 3}
r

In [2]:
def longest_common_prefix_vertical(strs):
    if not strs:
        return ""

    for i in range(len(strs[0])):
        char = strs[0][i]
        for s in strs[1:]:
            if i == len(s) or s[i] != char:
                return strs[0][:i]
    return strs[0]

strs = ["flower", "flow", "flight"]
result = longest_common_prefix_vertical(strs)
print(result)  # Output: "fl"

fl

In [3]:
class Solution:
    def longestCommonPrefix(self, v: list[str]) -> str:
        ans=""
        v=sorted(v)
        print(v)
        first=v[0]
        last=v[-1]
        for i in range(min(len(first),len(last))):
            if(first[i]!=last[i]):
                  return ans
            else:
                ans+=first[i]
            print(ans)
        return ans

In [4]:
s=Solution()
s.longestCommonPrefix(["flower","flow","flight"])

['flight', 'flow', 'flower']
f
fl

'fl'

In [5]:
import pandas as pd
Year1={'Q1':5000,'Q2':8000,'Q3':12000,'Q4': 18000}
Year2={'A' :13000,'B':14000,'C':12000}
totSales={1:Year1,2:Year2}
df=pd.DataFrame(totSales)
print(df)

          1        2
Q1   5000.0      NaN
Q2   8000.0      NaN
Q3  12000.0      NaN
Q4  18000.0      NaN
A       NaN  13000.0
B       NaN  14000.0
C       NaN  12000.0

In [1]:
import pandas as pd
data={'Name':['amti','xyz','abc'],'Age':[24,25,35],'Gender':['M','F','M']}
df=pd.DataFrame(data)

In [2]:
df

   Name  Age Gender
0  amti   24      M
1   xyz   25      F
2   abc   35      M

In [3]:
df['No']=df['Age'].apply(lambda x:x**2)

In [4]:
df

   Name  Age Gender    No
0  amti   24      M   576
1   xyz   25      F   625
2   abc   35      M  1225

In [5]:
df['Status']=df['Gender'].apply(lambda x:True if x=='M' else False)

In [6]:
df

   Name  Age Gender    No  Status
0  amti   24      M   576    True
1   xyz   25      F   625   False
2   abc   35      M  1225    True

In [9]:
df1=df.groupby(['Gender'])['Age'].agg(min)
df1

Gender
F    25
M    24
Name: Age, dtype: int64

In [11]:
df1 = df.groupby(['Gender'])['Gender'].agg('count')
df1

Gender
F    1
M    2
Name: Gender, dtype: int64

In [12]:
df1 = df.groupby(['Gender']).size()
print(df1)

Gender
F    1
M    2
dtype: int64

In [20]:
def type_check(fun):
    def inner(n):
        if isinstance(n,int):
            return fun(n)
        else:
            raise ValueError("please enter integer")
    
    return inner


@type_check
def sqr(n:int)->int:
    return n**2
   
try:
    print(sqr(5))
     
except Exception as e:
        print(e)

25

In [21]:
l=[2,3,4,6,7]
l1=list(filter(lambda x:x%2==0,l))
l1

[2, 4, 6]

In [22]:
l2=list(map(lambda x:x**3,l))

In [23]:
l2

[8, 27, 64, 216, 343]

In [24]:
from functools import reduce
l3=reduce(lambda x,y:x*y,l)
l3

1008